<template name="navBarInRoot">
    <nav class="navbar navbar-fixed-top z-index-4" role="navigation" ng-class="{active:!(currRoute('/landing'))}">  
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a id="theeeBrand" class="navbar-brand z-index-5" ui-sref="landing">Traverso</a> -->
            <a id="theeeBrand" class="navbar-brand z-index-5" ui-sref="landing">Traverso</a>
        </div>
        
        <div class="collapse navbar-collapse nav-ul-wrap">

            <button id="modalEndPoint1"
                ng-show="$root.currentUser.profile.name"
                ng-click="doSometingHolyShit()"
                type="button" 
                class="styles-for-auth btn btn-profile">
                    {{currentUser.profile.name}} <i class="fa fa-angle-down"></i>
            </button>

            <a class="accessibility-links col-md-2" ui-sref="find" ng-show="currRoute('/:listinginfo')">find</a>

            <a class="accessibility-links col-md-2" ui-sref="sell.listinginfo" ng-show="currRoute('/find')">Sell</a>

            <button id="modalEndPoint2"
                ng-show="!$root.currentUser"
                class="styles-for-auth btn btn-warning" 
                data-toggle="modal" 
                data-target="#authModal">
                Log In | Sign Up
            </button>
        </div>
    </nav>
    <div class="popover_user_prop" ng-show="showPopOverUserProp" ng-class="{nothome:!(currRoute('/landing'))}">
        <div class="popover_inner_arow">
            
        </div>
        <div class="popover_inner">
            <ul class="table-view">
                <li class="table-view-cell">
                    <a ui-sref="profile" class="popover_link" ng-click="doSometingHolyShit()">Profile</a>
                </li>
                <hr>
                <li class="table-view-cell" style="color:#B5B6B6;">
                    <a class="popover_link" data-toggle="modal" data-target="#authModal" ng-click="doSometingHolyShit()">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>

    <blaze-template name="authModal"></blaze-template>
</template>


<template name="authModal">
    
    <div class="modal modal-moderate fade"
        id="authModal">
        
        <div class="modal-dialog modal-lg">
            <button type="button" 
                    id="closeModal"
                    class="close z-index-8" 
                    data-dismiss="modal" 
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            
            <div class="modal-content col-md-12">
                
                <blaze-template name="authTemplateScaffold"></blaze-template>

            </div>
        </div>
    </div>

</template>


