<template name="authModal">
    
    <div class="modal modal-moderate fade"
        id="authModal">
        
        <div class="modal-dialog modal-lg">
            <button type="button" 
                    id="closeModal"
                    class="close z-index-8" 
                    data-dismiss="modal" 
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            
            <div class="modal-content col-md-12">
                
                <blaze-template name="authTemplateScaffold"></blaze-template>

            </div>
        </div>
    </div>
</template>

<template name="navBar">

    <nav class="bar col-md-12 z-index-9"
         ng-class="{active:!(currRoute('/landing'))}">
        <div class="bar-content-wrap col-md-12">
            <a ui-sref="landing"
               class="navbar-brand"
               id="theeeBrand">
                Traverso
            </a>

            <a class="btn btn-see-through-engage" 
            id="accessibilitySell" 
            ui-sref="sell.listinginfo" 
            ng-show="currRoute('/find/')">Sell</a>  

            <a class="btn btn-see-through-engage" 
            id="accessibilitySell" 
            ui-sref="find.dealership" 
            ng-show="currRoute('/sell/')">Find</a>

            <button class="btn btn-warning"
                    id="modalEndPoint2"
                    ng-show="!$root.currentUser"
                    data-toggle="modal" 
                    data-target="#authModal"
                    type="button">
                Login | Sign Up
            </button>

            <button class="btn btn-see-through"
                    id="modalEndPoint1"
                    ng-show="$root.currentUser.profile.name"
                    ng-click="doSometingHolyShit()"
                    type="button">
                {{currentUser.profile.name}} <i class="fa fa-angle-down"></i>
            </button>
        </div>
    </nav>

    <div class="popover_user_prop nothome z-index-10" ng-show="showPopOverUserProp">
        <div class="popover_inner_arow">
        </div>
        <div class="popover_inner">
            <ul class="table-view">
                <li class="table-view-cell">
                    <a ui-sref="profile" class="popover_link" ng-click="doSometingHolyShit()">Profile</a>
                </li>
                <hr>
                <li class="table-view-cell" style="color:#B5B6B6;">
                    <a class="popover_link" data-toggle="modal" data-target="#authModal" ng-click="doSometingHolyShit()">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>

    <blaze-template name="authModal"></blaze-template>
</template>


