<article class="pitch">
	<h3 style="margin-top: -20px;font-weight:400 !important;">Vehicle details</h3><br>
	<div class="input-group input-group-inline">

		<!-- nail best practices -->
		<select ng-change="getModels(listingFormBaseData.make)"
		ng-model="listingFormBaseData.make" 
		ng-options="make as make.name for make in makes track by make.name">
			<option value=''>Make</option>
		</select>

		<select ng-change="getYears(listingFormBaseData.model)"
		ng-model="listingFormBaseData.model"
		ng-options="model as model.name for model in listingFormBaseData.make.models track by model.name">
			<option value=''>Model</option>
		</select>

		<select ng-change="getTrims(listingFormBaseData.year)"
		ng-model="listingFormBaseData.year"
		ng-options="year as year.year for year in listingFormBaseData.model.years track by year.year">
			<option value=''>Year</option>
		</select>

		<select ng-change="logTrim(listingFormBaseData.trim)"
		ng-model="listingFormBaseData.trim"
		ng-options="style as style.trim for style in listingFormBaseData.year.styles track by style.trim">
			<option value=''>Trim</option>
		</select>

	</div><br>
	
	<div class="input-group">

		<div class="input-row">
			<!-- <label>Milage</label> -->
			<input type="number" 
			       class="input-whole" 
			       placeholder="Mileage" 
			       ng-model="listingFormBaseData.milage" 
			       ng-minlength="1" 
			       required>		
		</div>
			
	</div>
	<div class="col-md-12 form-progress-indication-relative-filler">
		<div class="form-progress-indication-wrap">
			<span class="indicator" ng-class="{active:stateInit}"><i class="fa fa-circle"></i></span>
			<span class="indicator" ng-class="{active:stateMid}"><i class="fa fa-circle"></i></span>
			<span class="indicator" ng-class="{active:stateFinal}"><i class="fa fa-circle"></i></span>
		</div>
	</div>
	<div class="form-cta-group">
		<button class="btn btn-primary" ui-sref="sell.listinginfo">back</button>
		<button class="btn btn-primary pull-right" ui-sref="sell.contact" ng-disabled="listingFormBaseSCAFF.$invalid">continue</button>
	</div>
</article>