<!--style="color:#1DB954;"-->
<div ng-show="$root.currentUser" class="container-profile">

	<!-- transfer to blaze -->
	<div class="profile_areas_wrap">
		<div class="col-md-12 attention-banner-wrap no-padding"> 


				<!-- <a href="http://www.surveygizmo.com/s3/2430545/Traverso-Experience-On-Web">
					
				</a>
				<p>
					<span style="">Pssst!</span>
				</p> -->

				<p>
					Pssst! if you haven't already please make sure to visit our 
					<a href="http://www.surveygizmo.com/s3/2430545/Traverso-Experience-On-Web"
					target="_blank"
					style="color:#4688D7;font-weight:600;">
						survey</a>, 
					your feedback can help power one of the greatest solutions to 
					the automotive sales industry. Lets build this <span style="color:#23E363;">together</span>!
				</p>
		</div>

		<!-- concerns profile -->
		<div class="col-md-4" ng-controller="profileSettingsCtrl">

			<!-- concerns profile -->
			<blaze-template name="editProfile"></blaze-template>
		</div>

		<!-- concerns user listings -->
		<div class="col-md-8">
			<div class="user_listings-wrap" ng-controller="profileRootListingsCtrl">

				<!-- suspect if profile listing rendering slows down -->
				<div class="user_listing_item-wrap" 
				ng-repeat="userListing in profileListings" 
				ng-show="userListing.owner === userIdScaffold()">
				
					<div class="user_listing_item">
						
				<div style="background-image: url( '/cfs/files/images/{{userListing.listImgId}}/{{userListing.imageName}}' );" 
							 alt="listing thumbnail"
							 class="user_listing_sects user_listing_img_thumbnail col-md-2">


							<span class="listing_badges badge badge-positive" title="Views">{{userListing.views}}</span>
						</div>

						<div class="user_listing_sects user_listing_info col-md-8">
							<p>{{ userListing.year }}, {{ userListing.make.name }} {{ userListing.model.name }}</p>
							<p>with {{ userListing.milage }} miles</p>
							<hr class="hr_small">
							<p>listed at <span class="emph_attention_positive">{{ userListing.price | currency:"$":0 }}</span></p>
						</div>

						<div class="user_listing_sects user_listing_ctagroup col-md-2">
							<button class="btn cta-remove" ng-click="removeListing(userListing)">Remove listing</button>
						</div>

					</div>
				</div> <!-- end of ng-repeat -->

			</div>
		</div>
	</div>


</div>

<!-- use $root.currentUser to verify current user or usher someone to login -->
<div ng-show="!$root.currentUser" style="opacity:0.5;" class="container">
	<article class="pitch">
		<h1 style="color:#1DB954;">Login to view profile !</h1>
		<!-- <div ui-view></div> -->
	</article>
</div>