.attention-banner-wrap {
	height: 5vh;
	box-shadow: 0 0 10px #8D9799;
	margin-top: -5px;
	margin-bottom: 15px;
}

.attention-banner-wrap > p {
	font-size: 1.2em;
	margin-top: 7px;
	text-align: center;
}

.container-profile {
	padding: 0;
	margin: 6vh 0 0 0;
	border: 0;
}

.profile_areas_wrap {
	margin: 8vh 0 0 0;
}

.user_listings-wrap,
.user_setting-wrap {
	position: relative;
	height: 83.3333vh;
	overflow-y: scroll !important;
	/*border: 1.5px solid #9B9B9B;*/
	box-shadow: 0 0 10px #8D9799;
	border-radius: 5px;
}

.user_listing_item-wrap {
	height: 150px;
	border-bottom: 1px solid #ddd;
}

.user_listing_item {
	width: 100%;
	height: 100%;
	position: relative;
	border-bottom: 1px solid #ddd;
}

.user_listing_sects {
	position: relative;
	display: inline-block;
	height: 100%;
}

.user_listing_img_thumbnail {
	background-size: cover;
	background-position: center;
}

.user_listing_info {
	padding: 20px 20px; 
}

.user_listing_ctagroup {
	position: relative;
}

.user_listing_ctagroup .cta-remove {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

/*profile_settings.css*/
/*.user_setting-wrap {
	overflow-y: scroll !important;
	position: relative;
	height: 83.3333vh;
	box-shadow: 0 0 10px #8D9799;
	border-radius: 5px;
}*/

.user_settings_img-wrap {
	position: relative;
	height: 175px;
}

.user_info-wrap {
	padding: 0 15px;
}

.user_info-wrap:nth-child(1) {
	margin-top: 60px;
}

.user_info-wrap > p {
	font-size: 1.1em;
}

.user_info-wrap hr {
	margin: 15px 0 !important;
}

.user_info-wrap .name_present {
	text-align: center;
}

.user_profile-pic {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.btn-circle-only {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #4688D7;
}

.floater_user_profile_change {
	position: absolute;
	top: 160px;
	left: 260px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.update-user-image span {
	position: relative;
}

.update-user-image span .fa {
	font-size: 17.5px;
	padding: 0;
	margin: 0;
	border: 0; 
}

.update-user-image span .fa-pencil {
	color: #fff;
	font-weight: 100;
}

.muted_emph {
	color: #9B9B9B;
}

.btn-cta-user_edit {
	display: block;
	margin: 15px auto;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.btn-cta-user_edit,
.btn-cta-user_edit:hover {
	background-color: #4688D7;
	color: #fff;
}

.btn-cta-user_edit:hover,
.update-user-image:hover {
	box-shadow: 0 0 10px #8D9799;
}

.hr_small {
	display: block;
	width: 50px;
	color: #ddd;
	margin-left: 0px;
}

.user_listing_info p {
	font-size: 1.1em;
}

.emph_attention_positive {
	color: #1DB954;
}

.row {
	position: relative;
}

.cta-remove,
.cta-remove:hover,
.cta-remove:focus {
	/*position: absolute;*/
	/*right: 15px;*/
	color: #fff;
	background-color: #FF3A2F;
	float: right;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.cta-remove:hover {
	box-shadow: 0 0 10px #8D9799;
}

.listing_badges {
	position: absolute;
	bottom: 12.25%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

/*profile edit*/
.update-user-image {
	position: absolute;
	top: 45%; 
	left: 50%;
	-webkit-transform: translate(-50%,-45%);
	-moz-transform: translate(-50%,-45%);
	-o-transform: translate(-50%,-45%);
	transform: translate(-50%,-45%);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.update-user-image span {
	position: relative;
}

.update-user-image span .fa {
	font-size: 17.5px;
	padding: 0;
	margin: 0;
	border: 0; 
	
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.update-user-image span .fa-camera {
	color: #fff;
	font-weight: 100;
}


